In [1]:
#IMPORTING LIBRARIES
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import numpy as np
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import pandas as pd

With the covid 19 impact in the market, we have seen lot of changes in the car market. Now some 
cars are in demand hence making them costly and some are not in demand hence cheaper. One 
of our clients works with small traders, who sell used cars. With the change in market due to covid 
19 impact, our client is facing problems with their previous car price valuation machine learning 
models. So, they are looking for new machine learning models from new data. We have to make 
car price valuation model. This project contains two phaseData Collection Phase
You have to scrape at least 5000 used cars data. You can scrape more data as well, it’s up to you. 
more the data better the model

- In this section You need to scrape the data of used cars from websites (Olx, cardekho, Cars24 
etc.) You need web scraping for this. You have to fetch data for different locations. The number of
columns for data doesn’t have limit, it’s up to you and your creativity. Generally, these columns are 
Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location and 
at last target variable Price of the car. This data is to give you a hint about important variables in 
used car model. You can make changes to it, you can add or you can remove some columns, it 
completely depends on the website from which you are fetching the data.
Try to include all types of cars in your data for example- SUV, Sedans, Coupe, minivan, 
Hatchback.

In [12]:
# Intializing the chrome driver
driver = webdriver.Chrome('/Users/akhilmatta/chromedriver')
#Loading the olx used cars URL
driver.get('https://www.cardekho.com/')
driver.set_window_size(1024, 600)
driver.maximize_window()

#### Need to find
- Brand
- Model
- Variant
- Manufacturing year
- Driven Kilometers
- Fuel type
- No of owners
- Location
- Price

In [13]:
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[1]/div/div[2]/div/div[1]/ul/li[2]').click()
time.sleep(3)
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[1]/div/div[2]/div/div[2]/div[2]/div[2]/div/ul/li[3]/button').click()

In [14]:
#Getting Hyd related data
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[3]/div[3]/div/div/div[2]/section/div/ul/li[9]/a/span[1]/img').click()

In [18]:
import time
elem = driver.find_element(By.TAG_NAME,'body')
start_time = time.time()
seconds = 500
while True:
    current_time = time.time()
    elem.send_keys(Keys.END) 
    time.sleep(3)
    elem.send_keys(Keys.PAGE_UP)
    elapsed_time = current_time - start_time
    if elapsed_time > seconds:
        print("Finished iterating in: " + str(int(elapsed_time))  + " seconds")
        break

Finished iterating in: 501 seconds

In [19]:
parnt_tag = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[1]/div[6]')
child_tags = parnt_tag.find_elements(By.XPATH,"//div[@class = 'gsc_col-md-4 gsc_col-sm-6 gsc_col-xs-12  cardnew']")

In [20]:
len(child_tags)

939

In [21]:
count=1
block_hrefs = []
for i in child_tags:
    try:
        get_href = i.find_element(By.XPATH,f'/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[1]/div[6]/div[{count}]/div/div[2]/div/div/a')
        block_hrefs.append(get_href.get_attribute('href'))
        count=count+1
    except NoSuchElementException as e:
        count=count+1
        pass

In [30]:
car_names = []
car_make_year = []
car_variants = []
car_driven_kms = []
car_owners = []
car_transmission = []
car_price = []
location = []

for i in block_hrefs:
    driver.get(i)
    time.sleep(3)
    try:
        car_names.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[2]/div[1]/div/div/div/div[1]/div[1]/h1').text)
    except NoSuchElementException as e:
        try:
            car_names.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[2]/div[2]/div/div/div/div[1]/div[1]/h1[2]').text)
        except NoSuchElementException as ee:
            car_names.append(np.nan)
    try:
        car_make_year.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[1]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            car_make_year.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[1]/div/div').text)
        except NoSuchElementException as ee:
            car_make_year.append(np.nan)
    try:
        car_variants.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[3]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            car_variants.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[5]/div/div').text)
        except NoSuchElementException as ee:
            car_variants.append(np.nan)
    try:
        car_driven_kms.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[4]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            car_driven_kms.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[3]/div/div').text)
        except NoSuchElementException as ee:
            car_driven_kms.append(np.nan)    
    try:
        car_owners.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[6]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            car_owners.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[4]/div/div').text)
        except NoSuchElementException as ee:
            car_owners.append(np.nan)  
    try:
        car_transmission.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[8]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            car_transmission.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[6]/div/div').text)
        except NoSuchElementException as ee:
            car_transmission.append(np.nan)
    try:
        car_price.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[2]/div[1]/div/div/div/div[1]/div[2]/div[1]/div[1]/span[2]').text)
    except NoSuchElementException as e:
        try:
            car_price.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[2]/div[2]/div/div/div/div[1]/span/span').text)
        except NoSuchElementException as ee:
            car_price.append(np.nan)
    location.append('Hyderabad')

In [32]:
cardekho_df = pd.DataFrame({'Car Brand':car_names,'Make year': car_make_year,'Fuel Type': car_variants,'No of Owners':car_owners,'Transmission Type': car_transmission, 'Driven KMS': car_driven_kms, 'Location':location,'Car Price':car_price})

In [33]:
cardekho_df

,Car Brand,Make year,Fuel Type,No of Owners,Transmission Type,Driven KMS,Location,Car Price
0,2017 Maruti Baleno,2017,Petrol,1st Owner,Manual,"73,650 Kms",Hyderabad,"5,94,000"
1,2017 Maruti Baleno,2017,Petrol,1st Owner,Manual,"32,415 Kms",Hyderabad,"5,89,000"
2,2018 Jeep Compass,2018,Petrol,1st Owner,Manual,"15,746 Kms",Hyderabad,"14,55,000"
3,2015 Hyundai Grand i10,2015,Petrol,1st Owner,Manual,"32,540 Kms",Hyderabad,"4,45,000"
4,2016 Honda City,2016,Petrol,1st Owner,Manual,"31,818 Kms",Hyderabad,"7,30,000"
...,...,...,...,...,...,...,...,...
928,Maruti Eeco 5 Seater Ac Bsiv,2016,Petrol,First Owner,Manual,"62,500 Kms",Hyderabad,4.50 Lakh*
929,Hyundai Xcent 1.1 Crdi S,2016,Diesel,First Owner,Manual,"66,000 Kms",Hyderabad,4.20 Lakh*
930,Maruti Ertiga Shvs Vdi,2016,Diesel,First Owner,Manual,"65,000 Kms",Hyderabad,6.50 Lakh*
931,Maruti Swift Dzire Lxi,2018,Petrol,First Owner,Manual,"41,374 Kms",Hyderabad,6.45 Lakh*
932,Mahindra Xuv500 W4,N/A,Diesel,Second Owner,Manual,"1,20,000 Kms",Hyderabad,6 Lakh*

In [34]:
#cardekho_df.to_csv('Car_dekho_1.csv')
driver.close()

In [41]:

# Intializing the chrome driver
driver = webdriver.Chrome('/Users/akhilmatta/chromedriver')
#Loading the olx used cars URL
driver.get('https://www.cardekho.com/')
driver.set_window_size(1024, 600)
driver.maximize_window()

In [42]:
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[1]/div/div[2]/div/div[1]/ul/li[2]').click()
time.sleep(3)
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[1]/div/div[2]/div/div[2]/div[2]/div[2]/div/ul/li[3]/button').click()

In [43]:
# Getting Bangalore related Data
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[3]/div[3]/div/div/div[2]/section/div/ul/li[2]/a/span[1]/img').click()

In [44]:
import time
elem = driver.find_element(By.TAG_NAME,'body')
start_time = time.time()
seconds = 500
while True:
    current_time = time.time()
    elem.send_keys(Keys.END) 
    time.sleep(3)
    elem.send_keys(Keys.PAGE_UP)
    elapsed_time = current_time - start_time
    if elapsed_time > seconds:
        print("Finished iterating in: " + str(int(elapsed_time))  + " seconds")
        break

Finished iterating in: 503 seconds

In [45]:
bang_parnt_tag = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[1]/div[6]')
bang_child_tags = bang_parnt_tag.find_elements(By.XPATH,"//div[@class = 'gsc_col-md-4 gsc_col-sm-6 gsc_col-xs-12  cardnew']")

In [46]:
len(bang_child_tags)

1700

In [47]:
count=1
bang_block_hrefs = []
for i in bang_child_tags:
    try:
        get_href = i.find_element(By.XPATH,f'/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[1]/div[6]/div[{count}]/div/div[2]/div/div/a')
        bang_block_hrefs.append(get_href.get_attribute('href'))
        count=count+1
    except NoSuchElementException as e:
        count=count+1
        pass

In [53]:
bang_car_names = []
bang_car_make_year = []
bang_car_variants = []
bang_car_driven_kms = []
bang_car_owners = []
bang_car_transmission = []
bang_car_price = []
bang_location = []

for i in bang_block_hrefs:
    driver.get(i)
    time.sleep(1)
    try:
        bang_car_names.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[2]/div[1]/div/div/div/div[1]/div[1]/h1').text)
    except NoSuchElementException as e:
        try:
            bang_car_names.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[2]/div[2]/div/div/div/div[1]/div[1]/h1[2]').text)
        except NoSuchElementException as ee:
            bang_car_names.append(np.nan)
    try:
        bang_car_make_year.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[1]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            bang_car_make_year.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[1]/div/div').text)
        except NoSuchElementException as ee:
            bang_car_make_year.append(np.nan)
    try:
        bang_car_variants.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[3]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            bang_car_variants.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[5]/div/div').text)
        except NoSuchElementException as ee:
            bang_car_variants.append(np.nan)
    try:
        bang_car_driven_kms.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[4]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            bang_car_driven_kms.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[3]/div/div').text)
        except NoSuchElementException as ee:
            bang_car_driven_kms.append(np.nan)    
    try:
        bang_car_owners.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[6]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            bang_car_owners.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[4]/div/div').text)
        except NoSuchElementException as ee:
            bang_car_owners.append(np.nan)  
    try:
        bang_car_transmission.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[8]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            bang_car_transmission.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[6]/div/div').text)
        except NoSuchElementException as ee:
            bang_car_transmission.append(np.nan)
    try:
        bang_car_price.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[2]/div[1]/div/div/div/div[1]/div[2]/div[1]/div[1]/span[2]').text)
    except NoSuchElementException as e:
        try:
            bang_car_price.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[2]/div[2]/div/div/div/div[1]/span/span').text)
        except NoSuchElementException as ee:
            bang_car_price.append(np.nan)
    bang_location.append('Bangalore')

In [54]:
len(bang_car_names)

1694

In [55]:
cardekho_df_1 = pd.DataFrame({'Car Brand':bang_car_names,'Make year': bang_car_make_year,'Fuel Type': bang_car_variants,'No of Owners':bang_car_owners,'Transmission Type': bang_car_transmission, 'Driven KMS': bang_car_driven_kms, 'Location':bang_location,'Car Price':bang_car_price})
driver.close()

In [56]:
cardekho_df_1

,Car Brand,Make year,Fuel Type,No of Owners,Transmission Type,Driven KMS,Location,Car Price
0,2016 Hyundai i20,2016,Diesel,1st Owner,Manual,"95,797 Kms",Bangalore,"6,98,000"
1,2020 MG Hector,2020,Petrol,2nd Owner,Automatic,"9,274 Kms",Bangalore,"18,45,000"
2,2017 Maruti Alto K10,2017,Petrol,1st Owner,Manual,"76,017 Kms",Bangalore,"3,39,000"
3,2018 Honda WR-V,2018,Petrol,1st Owner,Manual,"14,514 Kms",Bangalore,"8,85,000"
4,2021 MG Hector Plus,2021,Diesel,1st Owner,Manual,"11,812 Kms",Bangalore,"21,95,000"
...,...,...,...,...,...,...,...,...
1689,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore,NaN
1690,Hyundai Venue Sx Diesel Bsiv,2019,Diesel,First Owner,Manual,"33,556 Kms",Bangalore,10.35 Lakh*
1691,Honda Wr-v I-dtec Vx,2018,Diesel,First Owner,Manual,"62,680 Kms",Bangalore,9.05 Lakh*
1692,Hyundai I20 Sportz Plus Bsiv,2019,Petrol,First Owner,Manual,"8,532 Kms",Bangalore,7.95 Lakh*
1693,Maruti Baleno 1.2 Zeta,2017,Petrol,First Owner,Manual,"44,931 Kms",Bangalore,6.65 Lakh*

In [57]:

# Intializing the chrome driver
driver = webdriver.Chrome('/Users/akhilmatta/chromedriver')
#Loading the olx used cars URL
driver.get('https://www.cardekho.com/')
driver.set_window_size(1024, 600)
driver.maximize_window()

In [58]:
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[1]/div/div[2]/div/div[1]/ul/li[2]').click()
time.sleep(3)
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[1]/div/div[2]/div/div[2]/div[2]/div[2]/div/ul/li[3]/button').click()

In [59]:
# Getting Mumbai related Data
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[3]/div[3]/div/div/div[2]/section/div/ul/li[3]/a/span[1]/img').click()

In [60]:
import time
elem = driver.find_element(By.TAG_NAME,'body')
start_time = time.time()
seconds = 500
while True:
    current_time = time.time()
    elem.send_keys(Keys.END) 
    time.sleep(3)
    elem.send_keys(Keys.PAGE_UP)
    elapsed_time = current_time - start_time
    if elapsed_time > seconds:
        print("Finished iterating in: " + str(int(elapsed_time))  + " seconds")
        break

Finished iterating in: 501 seconds

In [61]:
mumb_parnt_tag = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[1]/div[6]')
mumb_child_tags = mumb_parnt_tag.find_elements(By.XPATH,"//div[@class = 'gsc_col-md-4 gsc_col-sm-6 gsc_col-xs-12  cardnew']")

In [62]:
count=1
mumb_block_hrefs = []
for i in mumb_child_tags:
    try:
        get_href = i.find_element(By.XPATH,f'/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[1]/div[6]/div[{count}]/div/div[2]/div/div/a')
        mumb_block_hrefs.append(get_href.get_attribute('href'))
        count=count+1
    except NoSuchElementException as e:
        count=count+1
        pass

In [63]:
mumb_car_names = []
mumb_car_make_year = []
mumb_car_variants = []
mumb_car_driven_kms = []
mumb_car_owners = []
mumb_car_transmission = []
mumb_car_price = []
mumb_location = []

for i in mumb_block_hrefs:
    driver.get(i)
    time.sleep(3)
    try:
        mumb_car_names.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[2]/div[1]/div/div/div/div[1]/div[1]/h1').text)
    except NoSuchElementException as e:
        try:
            mumb_car_names.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[2]/div[2]/div/div/div/div[1]/div[1]/h1[2]').text)
        except NoSuchElementException as ee:
            mumb_car_names.append(np.nan)
    try:
        mumb_car_make_year.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[1]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            mumb_car_make_year.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[1]/div/div').text)
        except NoSuchElementException as ee:
            mumb_car_make_year.append(np.nan)
    try:
        mumb_car_variants.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[3]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            mumb_car_variants.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[5]/div/div').text)
        except NoSuchElementException as ee:
            mumb_car_variants.append(np.nan)
    try:
        mumb_car_driven_kms.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[4]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            mumb_car_driven_kms.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[3]/div/div').text)
        except NoSuchElementException as ee:
            mumb_car_driven_kms.append(np.nan)    
    try:
        mumb_car_owners.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[6]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            mumb_car_owners.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[4]/div/div').text)
        except NoSuchElementException as ee:
            mumb_car_owners.append(np.nan)  
    try:
        mumb_car_transmission.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[8]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            mumb_car_transmission.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[6]/div/div').text)
        except NoSuchElementException as ee:
            mumb_car_transmission.append(np.nan)
    try:
        mumb_car_price.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[2]/div[1]/div/div/div/div[1]/div[2]/div[1]/div[1]/span[2]').text)
    except NoSuchElementException as e:
        try:
            mumb_car_price.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[2]/div[2]/div/div/div/div[1]/span/span').text)
        except NoSuchElementException as ee:
            mumb_car_price.append(np.nan)
    mumb_location.append('Mumbai')
cardekho_df_2 = pd.DataFrame({'Car Brand':mumb_car_names,'Make year': mumb_car_make_year,'Fuel Type': mumb_car_variants,'No of Owners':mumb_car_owners,'Transmission Type': mumb_car_transmission, 'Driven KMS': mumb_car_driven_kms, 'Location':mumb_location,'Car Price':mumb_car_price})
driver.close()

In [65]:
cardekho_df

,Car Brand,Make year,Fuel Type,No of Owners,Transmission Type,Driven KMS,Location,Car Price
0,2017 Maruti Baleno,2017,Petrol,1st Owner,Manual,"73,650 Kms",Hyderabad,"5,94,000"
1,2017 Maruti Baleno,2017,Petrol,1st Owner,Manual,"32,415 Kms",Hyderabad,"5,89,000"
2,2018 Jeep Compass,2018,Petrol,1st Owner,Manual,"15,746 Kms",Hyderabad,"14,55,000"
3,2015 Hyundai Grand i10,2015,Petrol,1st Owner,Manual,"32,540 Kms",Hyderabad,"4,45,000"
4,2016 Honda City,2016,Petrol,1st Owner,Manual,"31,818 Kms",Hyderabad,"7,30,000"
...,...,...,...,...,...,...,...,...
928,Maruti Eeco 5 Seater Ac Bsiv,2016,Petrol,First Owner,Manual,"62,500 Kms",Hyderabad,4.50 Lakh*
929,Hyundai Xcent 1.1 Crdi S,2016,Diesel,First Owner,Manual,"66,000 Kms",Hyderabad,4.20 Lakh*
930,Maruti Ertiga Shvs Vdi,2016,Diesel,First Owner,Manual,"65,000 Kms",Hyderabad,6.50 Lakh*
931,Maruti Swift Dzire Lxi,2018,Petrol,First Owner,Manual,"41,374 Kms",Hyderabad,6.45 Lakh*
932,Mahindra Xuv500 W4,N/A,Diesel,Second Owner,Manual,"1,20,000 Kms",Hyderabad,6 Lakh*

In [66]:
cardekho_df_1

,Car Brand,Make year,Fuel Type,No of Owners,Transmission Type,Driven KMS,Location,Car Price
0,2016 Hyundai i20,2016,Diesel,1st Owner,Manual,"95,797 Kms",Bangalore,"6,98,000"
1,2020 MG Hector,2020,Petrol,2nd Owner,Automatic,"9,274 Kms",Bangalore,"18,45,000"
2,2017 Maruti Alto K10,2017,Petrol,1st Owner,Manual,"76,017 Kms",Bangalore,"3,39,000"
3,2018 Honda WR-V,2018,Petrol,1st Owner,Manual,"14,514 Kms",Bangalore,"8,85,000"
4,2021 MG Hector Plus,2021,Diesel,1st Owner,Manual,"11,812 Kms",Bangalore,"21,95,000"
...,...,...,...,...,...,...,...,...
1689,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore,NaN
1690,Hyundai Venue Sx Diesel Bsiv,2019,Diesel,First Owner,Manual,"33,556 Kms",Bangalore,10.35 Lakh*
1691,Honda Wr-v I-dtec Vx,2018,Diesel,First Owner,Manual,"62,680 Kms",Bangalore,9.05 Lakh*
1692,Hyundai I20 Sportz Plus Bsiv,2019,Petrol,First Owner,Manual,"8,532 Kms",Bangalore,7.95 Lakh*
1693,Maruti Baleno 1.2 Zeta,2017,Petrol,First Owner,Manual,"44,931 Kms",Bangalore,6.65 Lakh*

In [67]:
cardekho_df_2

,Car Brand,Make year,Fuel Type,No of Owners,Transmission Type,Driven KMS,Location,Car Price
0,2014 Honda Brio,2014,Petrol,1st Owner,Manual,"40,838 Kms",Mumbai,"3,34,000"
1,2016 Toyota Innova Crysta,2016,Diesel,2nd Owner,Automatic,"97,186 Kms",Mumbai,"15,95,000"
2,2013 Honda City,2013,Petrol,1st Owner,Manual,"46,967 Kms",Mumbai,"3,80,000"
3,2021 Mahindra XUV300,2021,Diesel,1st Owner,Automatic,"9,106 Kms",Mumbai,"12,23,000"
4,2013 Hyundai EON,2013,Petrol,1st Owner,Manual,"33,883 Kms",Mumbai,"2,25,000"
...,...,...,...,...,...,...,...,...
1169,Hyundai I20 1.2 Asta,2011,Petrol,Second Owner,Manual,"62,000 Kms",Mumbai,2.89 Lakh*
1170,Honda City Zx Cvt,2019,Petrol,First Owner,Automatic,"5,000 Kms",Mumbai,12.65 Lakh*
1171,Maruti Ritz Vdi Abs,2011,Diesel,Second Owner,Manual,"57,200 Kms",Mumbai,2.95 Lakh*
1172,Maruti Vitara Brezza Vdi Amt,2019,Diesel,First Owner,Automatic,"29,000 Kms",Mumbai,9.25 Lakh*
1173,Maruti Swift 1.3 Lxi,2009,Petrol,Second Owner,Manual,"44,002 Kms",Mumbai,1.79 Lakh*

In [72]:

# Intializing the chrome driver
driver = webdriver.Chrome('/Users/akhilmatta/chromedriver')
#Loading the olx used cars URL
driver.get('https://www.cardekho.com/')
driver.set_window_size(1024, 600)
driver.maximize_window()

In [73]:
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[1]/div/div[2]/div/div[1]/ul/li[2]').click()
time.sleep(3)
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[1]/div/div[2]/div/div[2]/div[2]/div[2]/div/ul/li[3]/button').click()

In [74]:
# Getting Chennai related Data
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[3]/div[3]/div/div/div[2]/section/div/ul/li[7]/a/span[1]/img').click()

In [75]:
import time
elem = driver.find_element(By.TAG_NAME,'body')
start_time = time.time()
seconds = 500
while True:
    current_time = time.time()
    elem.send_keys(Keys.END) 
    time.sleep(3)
    elem.send_keys(Keys.PAGE_UP)
    elapsed_time = current_time - start_time
    if elapsed_time > seconds:
        print("Finished iterating in: " + str(int(elapsed_time))  + " seconds")
        break

Finished iterating in: 500 seconds

In [76]:
chen_parnt_tag = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[1]/div[6]')
chen_child_tags = chen_parnt_tag.find_elements(By.XPATH,"//div[@class = 'gsc_col-md-4 gsc_col-sm-6 gsc_col-xs-12  cardnew']")

In [77]:
len(chen_child_tags)

1048

In [78]:
count=1
chen_block_hrefs = []
for i in chen_child_tags:
    try:
        get_href = i.find_element(By.XPATH,f'/html/body/div[2]/div/div[1]/div/div/main/div[1]/div[1]/div[6]/div[{count}]/div/div[2]/div/div/a')
        chen_block_hrefs.append(get_href.get_attribute('href'))
        count=count+1
    except NoSuchElementException as e:
        count=count+1
        pass

In [79]:
chen_car_names = []
chen_car_make_year = []
chen_car_variants = []
chen_car_driven_kms = []
chen_car_owners = []
chen_car_transmission = []
chen_car_price = []
chen_location = []

for i in chen_block_hrefs:
    driver.get(i)
    time.sleep(3)
    try:
        chen_car_names.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[2]/div[1]/div/div/div/div[1]/div[1]/h1').text)
    except NoSuchElementException as e:
        try:
            chen_car_names.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[2]/div[2]/div/div/div/div[1]/div[1]/h1[2]').text)
        except NoSuchElementException as ee:
            chen_car_names.append(np.nan)
    try:
        chen_car_make_year.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[1]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            chen_car_make_year.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[1]/div/div').text)
        except NoSuchElementException as ee:
            chen_car_make_year.append(np.nan)
    try:
        chen_car_variants.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[3]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            chen_car_variants.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[5]/div/div').text)
        except NoSuchElementException as ee:
            chen_car_variants.append(np.nan)
    try:
        chen_car_driven_kms.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[4]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            chen_car_driven_kms.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[3]/div/div').text)
        except NoSuchElementException as ee:
            chen_car_driven_kms.append(np.nan)    
    try:
        chen_car_owners.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[6]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            chen_car_owners.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[4]/div/div').text)
        except NoSuchElementException as ee:
            chen_car_owners.append(np.nan)  
    try:
        chen_car_transmission.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[1]/div[4]/div/div/div/ul/li[8]/div/div[2]').text)
    except NoSuchElementException as e:
        try:
            chen_car_transmission.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[3]/div/div/div/div[1]/ul/li[6]/div/div').text)
        except NoSuchElementException as ee:
            chen_car_transmission.append(np.nan)
    try:
        chen_car_price.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div/div[1]/div[2]/div[1]/div/div/div/div[1]/div[2]/div[1]/div[1]/span[2]').text)
    except NoSuchElementException as e:
        try:
            chen_car_price.append(driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div/div/main/div[2]/div[1]/div/div[2]/div[2]/div/div/div/div[1]/span/span').text)
        except NoSuchElementException as ee:
            chen_car_price.append(np.nan)
    chen_location.append('Chennai')

ValueError: All arrays must be of the same length

In [ ]:
df = df.assign(
    col3 = 5,
    col4 = 6
)

In [80]:
cardekho_df_3 = pd.DataFrame({'Car Brand':chen_car_names,'Make year': chen_car_make_year,'Fuel Type': chen_car_variants,'No of Owners':chen_car_owners,'Transmission Type': chen_car_transmission, 'Driven KMS': chen_car_driven_kms, 'Location':'Chennai','Car Price':chen_car_price})
driver.close()

In [81]:
cardekho_df_3

,Car Brand,Make year,Fuel Type,No of Owners,Transmission Type,Driven KMS,Location,Car Price
0,2017 Hyundai Creta,2017,Petrol,1st Owner,Manual,"39,997 Kms",Chennai,"10,12,000"
1,2018 Hyundai Grand i10,2018,Petrol,1st Owner,Manual,"29,313 Kms",Chennai,"5,30,000"
2,2017 Hyundai Elantra,2017,Petrol,2nd Owner,Automatic,"62,852 Kms",Chennai,"12,55,000"
3,2020 Datsun GO Plus,2020,Petrol,1st Owner,Manual,"9,198 Kms",Chennai,"5,43,000"
4,2017 Maruti Ciaz,2017,Petrol,2nd Owner,Automatic,"34,276 Kms",Chennai,"6,47,000"
...,...,...,...,...,...,...,...,...
1037,Ford Fiesta 1.4 Zxi Tdci Abs,N/A,Diesel,Second Owner,Manual,"90,000 Kms",Chennai,2.10 Lakh*
1038,Ford Figo Diesel Lxi,2013,Diesel,First Owner,Manual,"55,787 Kms",Chennai,2.70 Lakh*
1039,Ford Figo Diesel Lxi,2012,Diesel,First Owner,Manual,"74,818 Kms",Chennai,2.70 Lakh*
1040,Chevrolet Sail 1.2 Ls Abs,2013,Petrol,First Owner,Manual,"73,000 Kms",Chennai,1.90 Lakh*
1041,Maruti Celerio Vxi Amt,2019,Petrol,First Owner,Automatic,"20,465 Kms",Chennai,5.50 Lakh*

In [82]:
total_df = pd.concat([cardekho_df,cardekho_df_1,cardekho_df_2,cardekho_df_3])

In [83]:
total_df

,Car Brand,Make year,Fuel Type,No of Owners,Transmission Type,Driven KMS,Location,Car Price
0,2017 Maruti Baleno,2017,Petrol,1st Owner,Manual,"73,650 Kms",Hyderabad,"5,94,000"
1,2017 Maruti Baleno,2017,Petrol,1st Owner,Manual,"32,415 Kms",Hyderabad,"5,89,000"
2,2018 Jeep Compass,2018,Petrol,1st Owner,Manual,"15,746 Kms",Hyderabad,"14,55,000"
3,2015 Hyundai Grand i10,2015,Petrol,1st Owner,Manual,"32,540 Kms",Hyderabad,"4,45,000"
4,2016 Honda City,2016,Petrol,1st Owner,Manual,"31,818 Kms",Hyderabad,"7,30,000"
...,...,...,...,...,...,...,...,...
1037,Ford Fiesta 1.4 Zxi Tdci Abs,N/A,Diesel,Second Owner,Manual,"90,000 Kms",Chennai,2.10 Lakh*
1038,Ford Figo Diesel Lxi,2013,Diesel,First Owner,Manual,"55,787 Kms",Chennai,2.70 Lakh*
1039,Ford Figo Diesel Lxi,2012,Diesel,First Owner,Manual,"74,818 Kms",Chennai,2.70 Lakh*
1040,Chevrolet Sail 1.2 Ls Abs,2013,Petrol,First Owner,Manual,"73,000 Kms",Chennai,1.90 Lakh*
1041,Maruti Celerio Vxi Amt,2019,Petrol,First Owner,Automatic,"20,465 Kms",Chennai,5.50 Lakh*

In [84]:
total_df.to_csv('final_car_dekho.csv')

## I would have optimized the code lot more due to time constraints iam leaving as is

# Thank You