# WEB SCRAPING USING SELENIUM

Q1: Write a python program to scrape data for ‚ÄúData Analyst‚Äù Job position in ‚ÄúBangalore‚Äù location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúSkill, Designations, Companies‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the
location‚Äù field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [27]:
#IMPORTING LIBRARIES
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.chrome.options import Options

In [28]:

def naukri_job_search(designation,location):
    driver = webdriver.Chrome('chromedriver.exe')
    driver.get('https://www.naukri.com/')
    role_search = driver.find_element_by_class_name('suggestor-input ')
    role_search.send_keys(designation)
    location_search = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
    location_search.send_keys(location)
    serach_path = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
    serach_path.click()
    title = []
    company = []
    experience = []
    location = []
    title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]
    for ttl in title_tag:
        title.append(ttl.text)
    company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]
    for cmpny in company_tag:
        company.append(cmpny.text)
    exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")[0:10]
    
    for exp in exp_tag:
        experience.append(exp.text)
    location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")[0:10]
    for lctn in location_tag:
        location.append(lctn.text)
    time.sleep(5)
    driver.close()
    return title, company, experience, location

In [29]:
title, company, experience, location = naukri_job_search(designation='Data Analyst', location='Bangalore')
Data_analyst_jobs = pd.DataFrame({})
Data_analyst_jobs['Title']=title
Data_analyst_jobs['Company'] = company
Data_analyst_jobs['Location']=location
Data_analyst_jobs['Experience']=experience
Data_analyst_jobs

,Title,Company,Location,Experience
0,Sr Domain Expert -Data Analysts,Siemens,Bangalore/Bengaluru,0-10 Yrs
1,Senior Data Analyst (Digital Services Analytics),Dell Technologies,Bangalore/Bengaluru,1-6 Yrs
2,Senior Data Analyst,Intel,Bangalore/Bengaluru,3-8 Yrs
3,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,K12 Techno Services Pvt Ltd,Bangalore/Bengaluru,4-9 Yrs
4,Staff Business Data Analyst - FDP,Intuit Inc.,Bangalore/Bengaluru,5-7 Yrs
5,Data Analyst,Vedantu Innovations,Bangalore/Bengaluru,0-3 Yrs
6,Data Analyst 2,PayPal,Bangalore/Bengaluru,5-8 Yrs
7,Senior Professional Data Analyst,DXC Technology,Bangalore/Bengaluru,3-7 Yrs
8,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,"Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secu...",0-2 Yrs
9,MDM - Data Analyst,Shell,Bangalore/Bengaluru,3-4 Yrs

Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, Companies‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the
location‚Äù field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [30]:
title, company, experience, location = naukri_job_search(designation='Data Scientist', location='Bangalore')
Data_scientist_jobs = pd.DataFrame({})
Data_scientist_jobs['Title']=title
Data_scientist_jobs['Company'] = company
Data_scientist_jobs['Location']=location
Data_scientist_jobs

,Title,Company,Location
0,Senior Data Scientist,Flipkart,Bangalore/Bengaluru
1,Senior Data Scientist,GSK India,Bangalore/Bengaluru
2,Junior Data Scientist,Accenture,Bangalore/Bengaluru
3,DATA Scientist with Fraud Analytics Experience,Concentrix,Bangalore/Bengaluru
4,Data Scientist II- Merchandise & Discovery,Swiggy,Bangalore/Bengaluru
5,Principal Data Scientist,Meesho,Bangalore/Bengaluru
6,Senior Data Scientist/Data Scientist,Tredence Analytics Solutions Private Limited,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."
7,Senior Data Scientist,Zoom Start India,Bangalore/Bengaluru
8,Principal Data Scientist,"Rakuten, Inc.",Bangalore/Bengaluru
9,Data Scientist Opportunity with PayU ( Tier1 i...,PayU,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        You have to use the location and salary filter.
        You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
        You have to scrape the job-title, job-location, company name, experience required.
        The location filter to be used is ‚ÄúDelhi/NCR‚Äù. T he salary filter to be used is ‚Äú3-6‚Äù lakhs
    The task will be done as shown in the below steps:
        1. first get the webpage https://www.naukri.com/
        2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.
        3. Then click the search button.
        4. Then apply the location filter and salary filter by checking the respective boxes
        5. Then scrape the data for the first 10 jobs results you get.
        6. Finally create a dataframe of the scraped data.

In [56]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
driver2 = webdriver.Chrome(executable_path=r'C:/Users/Akhil/Desktop/roboflip/Web_Scraping_Selenium_Assg/chromedriver.exe', chrome_options=chrome_options)
driver2.get('https://www.naukri.com/')
role_search = driver2.find_element_by_class_name('suggestor-input ')
role_search.send_keys('Data Scientist')
serach_path = driver2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
serach_path.click()
time.sleep(3)
#finding the bangalore check box
loc=driver2.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
loc.click()
time.sleep(2)
# finding the salary check box
slry_box = driver2.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[1]/label/i')

#//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i
slry_box.click()
time.sleep(3)
title = []
company = []
experience = []
location = []
salary = []
title_tag = driver2.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]
for ttl in title_tag:
    title.append(ttl.text)
company_tag = driver2.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]
for cmpny in company_tag:
    company.append(cmpny.text)
exp_tag = driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")[0:10]
for exp in exp_tag:
    experience.append(exp.text)
location_tag = driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")[0:10]
for lctn in location_tag:
    location.append(lctn.text)
sal_tag = driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span[1]")[0:10]
for sal in sal_tag:
    salary.append(sal.text)
driver2.close()
Data_Scientist_filtered_jobs = pd.DataFrame({})
Data_Scientist_filtered_jobs['Title']=title
Data_Scientist_filtered_jobs['Company'] = company
Data_Scientist_filtered_jobs['Location']=location
Data_Scientist_filtered_jobs['Experience']=experience
Data_Scientist_filtered_jobs['Salary']=salary
Data_Scientist_filtered_jobs

,Title,Company,Location,Experience,Salary
0,Senior Data Scientist,Flipkart,Bangalore/Bengaluru,5-8 Yrs,Not disclosed
1,Junior Data Scientist,Accenture,Bangalore/Bengaluru,2-6 Yrs,Not disclosed
2,Senior Data Scientist,GSK India,Bangalore/Bengaluru,5-9 Yrs,Not disclosed
3,DATA Scientist with Fraud Analytics Experience,Concentrix,Bangalore/Bengaluru,2-4 Yrs,"3,00,000 - 4,00,000 PA."
4,Data Scientist II- Merchandise & Discovery,Swiggy,Bangalore/Bengaluru,2-5 Yrs,Not disclosed
5,Principal Data Scientist,Meesho,Bangalore/Bengaluru,6-10 Yrs,Not disclosed
6,Principal Data Scientist,"Rakuten, Inc.",Bangalore/Bengaluru,7-12 Yrs,Not disclosed
7,Data Scientist Opportunity with PayU ( Tier1 i...,PayU,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",2-5 Yrs,Not disclosed
8,Data Scientist 1,PayPal,Bangalore/Bengaluru,4-8 Yrs,Not disclosed
9,Senior Data Scientist/Data Scientist,Tredence Analytics Solutions Private Limited,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",2-7 Yrs,Not disclosed

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter ‚Äúsunglasses‚Äù in the search field where ‚Äúsearch for products, brands andmore‚Äù is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the ‚ÄúNext‚Äù Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [83]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
driver = webdriver.Chrome(executable_path=r'C:/Users/Akhil/Desktop/roboflip/Web_Scraping_Selenium_Assg/chromedriver.exe', chrome_options=chrome_options)
driver.get('https://www.flipkart.com/')
driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()
item_search = driver.find_element_by_class_name('_3704LK')
item_search.send_keys('sunglasses')
button= driver.find_element_by_class_name('_34RNph')
button.click()
time.sleep(3)
brand=[]
description=[]
cost = []
discount = []
for rot in range(0,3):
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the brand extracted
    description_tag = driver.find_elements_by_class_name('IRpwTa')#scraping brands name by class name='IRpwTa'
    for i in description_tag:
        description.append(i.text)#appending the description of sunglasses extracted
    cost_tag = driver.find_elements_by_class_name('_30jeq3')[0:40]
    #scraping brands name by class name='_30jeq3'
    #i have scraped from 0:40 because the webpage has some suggestion below with same class name under Reviews for Popular Sunglasses
    for i in cost_tag:
        cost.append(i.text)#appending the cost of sunglasses extracted
    discount_tag = driver.find_elements_by_class_name('_3Ay6Sb')[0:40]
    for i in discount_tag:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
    time.sleep(2)
driver.close()
flipkart_sunglasses_data = pd.DataFrame({})
flipkart_sunglasses_data['Brand']=brand[0:100]
flipkart_sunglasses_data['Item Description'] = description[0:100]
flipkart_sunglasses_data['Cost']=cost[0:100]
flipkart_sunglasses_data['Discount']=discount[0:100]
flipkart_sunglasses_data

,Brand,Item Description,Cost,Discount
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",‚Çπ614,79% off
1,VINCENT CHASE,UV Protection Wayfarer Sunglasses (59),‚Çπ599,70% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),‚Çπ148,88% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),‚Çπ709,21% off
4,Elligator,UV Protection Round Sunglasses (54),‚Çπ208,91% off
...,...,...,...,...
95,Rich Club,"UV Protection, Polarized Round Sunglasses (50)",‚Çπ399,60% off
96,New Specs,UV Protection Rectangular Sunglasses (Free Size),‚Çπ113,92% off
97,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",‚Çπ319,84% off
98,kingsunglasses,UV Protection Rectangular Sunglasses (55),‚Çπ183,87% off
99,VINCENT CHASE,UV Protection Rectangular Sunglasses (50),‚Çπ599,70% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage 
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [111]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
driver = webdriver.Chrome(executable_path=r'C:/Users/Akhil/Desktop/roboflip/Web_Scraping_Selenium_Assg/chromedriver.exe', chrome_options=chrome_options)
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace')
time.sleep(3)
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span').click()
ratings = []
comment = []
comment_description=[]
time.sleep(3)
for each_page in range(0,10):
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating_tag:
        ratings.append(i.text)
    least_rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1rdVr6 _1BLPMq']")
    for i in least_rating_tag:
        ratings.append(i.text)
    comment_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in comment_tag:
        comment.append(i.text)
    comment_description_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in comment_description_tag:
        comment_description.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
    time.sleep(2)
driver.close()
flipkart_iphone11_review_data = pd.DataFrame({})
flipkart_iphone11_review_data['Rating (In Stars)']=ratings
flipkart_iphone11_review_data['Comment'] = comment
flipkart_iphone11_review_data['Comment Description']=comment_description
flipkart_iphone11_review_data

,Rating (In Stars),Comment,Comment Description
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Pretty good,I've used this phone for over a month now and ...
96,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
97,5,Mind-blowing purchase,Excellent camera üì∏ And Display touching very N...
98,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
99,5,Just wow!,The ultimate performance\nCamera is superb\nTh...