# WEB SCRAPING USING SELENIUM

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
#IMPORTING LIBRARIES
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.options import Options
chrome_options = Options()

In [28]:

def naukri_job_search(designation,location):
    driver = webdriver.Chrome('chromedriver.exe')
    driver.get('https://www.naukri.com/')
    role_search = driver.find_element_by_class_name('suggestor-input ')
    role_search.send_keys(designation)
    location_search = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
    location_search.send_keys(location)
    serach_path = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
    serach_path.click()
    title = []
    company = []
    experience = []
    location = []
    title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]
    for ttl in title_tag:
        title.append(ttl.text)
    company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]
    for cmpny in company_tag:
        company.append(cmpny.text)
    exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")[0:10]
    
    for exp in exp_tag:
        experience.append(exp.text)
    location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")[0:10]
    for lctn in location_tag:
        location.append(lctn.text)
    time.sleep(5)
    driver.close()
    return title, company, experience, location

In [29]:
title, company, experience, location = naukri_job_search(designation='Data Analyst', location='Bangalore')
Data_analyst_jobs = pd.DataFrame({})
Data_analyst_jobs['Title']=title
Data_analyst_jobs['Company'] = company
Data_analyst_jobs['Location']=location
Data_analyst_jobs['Experience']=experience
Data_analyst_jobs

,Title,Company,Location,Experience
0,Sr Domain Expert -Data Analysts,Siemens,Bangalore/Bengaluru,0-10 Yrs
1,Senior Data Analyst (Digital Services Analytics),Dell Technologies,Bangalore/Bengaluru,1-6 Yrs
2,Senior Data Analyst,Intel,Bangalore/Bengaluru,3-8 Yrs
3,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,K12 Techno Services Pvt Ltd,Bangalore/Bengaluru,4-9 Yrs
4,Staff Business Data Analyst - FDP,Intuit Inc.,Bangalore/Bengaluru,5-7 Yrs
5,Data Analyst,Vedantu Innovations,Bangalore/Bengaluru,0-3 Yrs
6,Data Analyst 2,PayPal,Bangalore/Bengaluru,5-8 Yrs
7,Senior Professional Data Analyst,DXC Technology,Bangalore/Bengaluru,3-7 Yrs
8,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,"Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secu...",0-2 Yrs
9,MDM - Data Analyst,Shell,Bangalore/Bengaluru,3-4 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [30]:
title, company, experience, location = naukri_job_search(designation='Data Scientist', location='Bangalore')
Data_scientist_jobs = pd.DataFrame({})
Data_scientist_jobs['Title']=title
Data_scientist_jobs['Company'] = company
Data_scientist_jobs['Location']=location
Data_scientist_jobs

,Title,Company,Location
0,Senior Data Scientist,Flipkart,Bangalore/Bengaluru
1,Senior Data Scientist,GSK India,Bangalore/Bengaluru
2,Junior Data Scientist,Accenture,Bangalore/Bengaluru
3,DATA Scientist with Fraud Analytics Experience,Concentrix,Bangalore/Bengaluru
4,Data Scientist II- Merchandise & Discovery,Swiggy,Bangalore/Bengaluru
5,Principal Data Scientist,Meesho,Bangalore/Bengaluru
6,Senior Data Scientist/Data Scientist,Tredence Analytics Solutions Private Limited,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."
7,Senior Data Scientist,Zoom Start India,Bangalore/Bengaluru
8,Principal Data Scientist,"Rakuten, Inc.",Bangalore/Bengaluru
9,Data Scientist Opportunity with PayU ( Tier1 i...,PayU,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        You have to use the location and salary filter.
        You have to scrape data for “Data Scientist” designation for first 10 job results.
        You have to scrape the job-title, job-location, company name, experience required.
        The location filter to be used is “Delhi/NCR”. T he salary filter to be used is “3-6” lakhs
    The task will be done as shown in the below steps:
        1. first get the webpage https://www.naukri.com/
        2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
        3. Then click the search button.
        4. Then apply the location filter and salary filter by checking the respective boxes
        5. Then scrape the data for the first 10 jobs results you get.
        6. Finally create a dataframe of the scraped data.

In [56]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
driver2 = webdriver.Chrome(executable_path=r'C:/Users/Akhil/Desktop/roboflip/Web_Scraping_Selenium_Assg/chromedriver.exe', chrome_options=chrome_options)
driver2.get('https://www.naukri.com/')
role_search = driver2.find_element_by_class_name('suggestor-input ')
role_search.send_keys('Data Scientist')
serach_path = driver2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
serach_path.click()
time.sleep(3)
#finding the bangalore check box
loc=driver2.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
loc.click()
time.sleep(2)
# finding the salary check box
slry_box = driver2.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[1]/label/i')

#//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i
slry_box.click()
time.sleep(3)
title = []
company = []
experience = []
location = []
salary = []
title_tag = driver2.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]
for ttl in title_tag:
    title.append(ttl.text)
company_tag = driver2.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]
for cmpny in company_tag:
    company.append(cmpny.text)
exp_tag = driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")[0:10]
for exp in exp_tag:
    experience.append(exp.text)
location_tag = driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")[0:10]
for lctn in location_tag:
    location.append(lctn.text)
sal_tag = driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span[1]")[0:10]
for sal in sal_tag:
    salary.append(sal.text)
driver2.close()
Data_Scientist_filtered_jobs = pd.DataFrame({})
Data_Scientist_filtered_jobs['Title']=title
Data_Scientist_filtered_jobs['Company'] = company
Data_Scientist_filtered_jobs['Location']=location
Data_Scientist_filtered_jobs['Experience']=experience
Data_Scientist_filtered_jobs['Salary']=salary
Data_Scientist_filtered_jobs

,Title,Company,Location,Experience,Salary
0,Senior Data Scientist,Flipkart,Bangalore/Bengaluru,5-8 Yrs,Not disclosed
1,Junior Data Scientist,Accenture,Bangalore/Bengaluru,2-6 Yrs,Not disclosed
2,Senior Data Scientist,GSK India,Bangalore/Bengaluru,5-9 Yrs,Not disclosed
3,DATA Scientist with Fraud Analytics Experience,Concentrix,Bangalore/Bengaluru,2-4 Yrs,"3,00,000 - 4,00,000 PA."
4,Data Scientist II- Merchandise & Discovery,Swiggy,Bangalore/Bengaluru,2-5 Yrs,Not disclosed
5,Principal Data Scientist,Meesho,Bangalore/Bengaluru,6-10 Yrs,Not disclosed
6,Principal Data Scientist,"Rakuten, Inc.",Bangalore/Bengaluru,7-12 Yrs,Not disclosed
7,Data Scientist Opportunity with PayU ( Tier1 i...,PayU,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",2-5 Yrs,Not disclosed
8,Data Scientist 1,PayPal,Bangalore/Bengaluru,4-8 Yrs,Not disclosed
9,Senior Data Scientist/Data Scientist,Tredence Analytics Solutions Private Limited,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",2-7 Yrs,Not disclosed

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [15]:

def flipkart_item_search(search_item):
    driver = webdriver.Chrome(executable_path=r'C:/Users/Akhil/Desktop/roboflip/Web_Scraping_Selenium_Assg/chromedriver.exe', chrome_options=chrome_options)
    driver.get('https://www.flipkart.com/')
    driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()
    item_search = driver.find_element_by_class_name('_3704LK')
    item_search.send_keys(search_item)
    button= driver.find_element_by_class_name('_34RNph')
    button.click()
    time.sleep(3)
    brand=[]
    description=[]
    cost = []
    discount = []
    for rot in range(0,3):
        brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
        for i in brands:
            brand.append(i.text)#appending the brand extracted
        description_tag = driver.find_elements_by_class_name('IRpwTa')#scraping brands name by class name='IRpwTa'
        for i in description_tag:
            description.append(i.text)#appending the description of sunglasses extracted
        cost_tag = driver.find_elements_by_class_name('_30jeq3')[0:40]
        #scraping brands name by class name='_30jeq3'
        #i have scraped from 0:40 because the webpage has some suggestion below with same class name under Reviews for Popular Sunglasses
        for i in cost_tag:
            cost.append(i.text)#appending the cost of sunglasses extracted
        discount_tag = driver.find_elements_by_class_name('_3Ay6Sb')[0:40]
        for i in discount_tag:
            discount.append(i.text)
        nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
        time.sleep(2)
        try:
            driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
        except:
            driver.get(nxt_button[0].get_attribute('href'))
        time.sleep(2)
    driver.close()
    return brand, description, cost, discount

In [18]:
brand, description, cost, discount = flipkart_item_search(search_item='sunglasses')
flipkart_sunglasses_data = pd.DataFrame({})
flipkart_sunglasses_data['Brand']=brand[0:100]
flipkart_sunglasses_data['Item Description'] = description[0:100]
flipkart_sunglasses_data['Cost']=cost[0:100]
flipkart_sunglasses_data['Discount']=discount[0:100]
flipkart_sunglasses_data

,Brand,Item Description,Cost,Discount
0,john jacobs,UV Protection Clubmaster Sunglasses (47),"₹3,850",35% off
1,VINCENT CHASE,UV Protection Wayfarer Sunglasses (59),₹599,70% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹199,84% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹709,21% off
4,Elligator,UV Protection Round Sunglasses (54),₹279,88% off
...,...,...,...,...
95,PIRASO,UV Protection Aviator Sunglasses (54),₹175,89% off
96,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹253,83% off
97,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹348,82% off
98,Fastrack,UV Protection Sports Sunglasses (Free Size),₹749,16% off
99,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹329,83% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage 
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [111]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
driver = webdriver.Chrome(executable_path=r'C:/Users/Akhil/Desktop/roboflip/Web_Scraping_Selenium_Assg/chromedriver.exe', chrome_options=chrome_options)
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace')
time.sleep(3)
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span').click()
ratings = []
comment = []
comment_description=[]
time.sleep(3)
for each_page in range(0,10):
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating_tag:
        ratings.append(i.text)
    least_rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1rdVr6 _1BLPMq']")
    for i in least_rating_tag:
        ratings.append(i.text)
    comment_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in comment_tag:
        comment.append(i.text)
    comment_description_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in comment_description_tag:
        comment_description.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
    time.sleep(2)
driver.close()
flipkart_iphone11_review_data = pd.DataFrame({})
flipkart_iphone11_review_data['Rating (In Stars)']=ratings
flipkart_iphone11_review_data['Comment'] = comment
flipkart_iphone11_review_data['Comment Description']=comment_description
flipkart_iphone11_review_data

,Rating (In Stars),Comment,Comment Description
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Pretty good,I've used this phone for over a month now and ...
96,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
97,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
98,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
99,5,Just wow!,The ultimate performance\nCamera is superb\nTh...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [19]:
brand, description, cost, discount = flipkart_item_search(search_item='sneakers')
flipkart_sneakers_data = pd.DataFrame({})
flipkart_sneakers_data['Brand']=brand[0:100]
flipkart_sneakers_data['Item Description'] = description[0:100]
flipkart_sneakers_data['Cost']=cost[0:100]
flipkart_sneakers_data['Discount']=discount[0:100]
flipkart_sneakers_data

,Brand,Item Description,Cost,Discount
0,HIGHLANDER,Sneakers For Men,₹945,52% off
1,Shoes Icon,Sneakers For Men,₹399,60% off
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹469,70% off
3,Magnolia,Sneakers For Men,₹374,62% off
4,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹424,78% off
...,...,...,...,...
95,FEWROK,Premium quality Sneakers For Men,₹399,60% off
96,Magnolia,White Sneakers Sneakers For Men,₹351,64% off
97,BRUTON,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹482,80% off
98,DUCATI,Sneakers For Men,"₹1,499",58% off
99,Shoes Icon,Sneakers For Men,₹399,60% off

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [25]:
driver = webdriver.Chrome(executable_path=r'C:/Users/Akhil/Desktop/roboflip/Web_Scraping_Selenium_Assg/chromedriver.exe', chrome_options=chrome_options)
driver.get(' https://www.myntra.com/shoes')
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()
time.sleep(2)
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()
time.sleep(2)
product_name = []
product_desc =[]
product_price = []
for pages in range(0,2):
    product_name_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in product_name_tag:
        product_name.append(i.text)
    product_desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in product_desc_tag:
        product_desc.append(i.text)
    product_price_tag = driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
    for i in product_price_tag:
        product_price.append(i.text)   
    driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a').click()
    time.sleep(2)
driver.close()
myntra_shoe_data = pd.DataFrame({})
myntra_shoe_data['Product']=product_name
myntra_shoe_data['Description'] = product_desc
myntra_shoe_data['Price']=product_price
myntra_shoe_data

     Product                     Description               Price
0       ALDO             Men Leather Loafers  Rs. 11199Rs. 15999
1       ALDO       Men Leather Driving Shoes   Rs. 9099Rs. 12999
2   Skechers      Men Max Cushioning Running    Rs. 8099Rs. 8999
3     ADIDAS      Men Dropset Training Shoes   Rs. 8449Rs. 12999
4       ALDO            Men Printed Sneakers   Rs. 9099Rs. 12999
..       ...                             ...                 ...
95     ASICS   Men Colourblocked PU Sneakers            Rs. 9999
96      ALDO                   Wedge Sandals            Rs. 7999
97      ALDO              Leather Slim Heels   Rs. 7199Rs. 11999
98      ALDO       Embellished Wedge Sandals            Rs. 7999
99  Columbia  Men SNOWTREKKER Trekking Shoes           Rs. 11999

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [31]:
driver = webdriver.Chrome(executable_path=r'C:/Users/Akhil/Desktop/roboflip/Web_Scraping_Selenium_Assg/chromedriver.exe', chrome_options=chrome_options)
driver.get('https://www.amazon.in/')
time.sleep(5)

In [32]:
def extract_rating(item):
    try:
        rating = item.i.text
    except AttributeError:
        rating = ' '
    return rating

In [33]:
laptop_input=driver.find_element_by_xpath('/html/body/div[2]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
laptop_input.send_keys('Laptop')
search_button = driver.find_element_by_xpath('/html/body/div[2]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()
time.sleep(2)
filter=driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")
for i in filter:
    if(i.text=='Intel Core i7'):
        i.click()
        break
product = []
rating_list = []
Price = []
product_title = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in product_title:
    product.append(i.text)
# rating_tags = driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')
# for i in rating_tags:
#     rating_list.append(i.text)
price_tag = driver.find_elements_by_xpath('//span[@class="a-price"]')
for i in price_tag:
    Price.append(i.text)
from bs4 import BeautifulSoup
soup=BeautifulSoup(driver.page_source,'html.parser')
results = soup.find_all('div',{'data-component-type':'s-search-result'})
item =results[0]
results = soup.find_all('div',{'data-component-type':'s-search-result'})
for item in results:
    rcrd=extract_rating(item)
    if rcrd:
        rating_list.append(extract_rating(item))
rating_records
amazon_lappy_data = pd.DataFrame({})
amazon_lappy_data['Product']=product[:10]
amazon_lappy_data['Ratings'] = rating_list[:10]
amazon_lappy_data['Price']=Price[:10]
amazon_lappy_data

,Product,Ratings,Price
0,LG Gram 14 inches Ultra-Light Intel Evo 11th G...,4.4 out of 5 stars,"₹88,499"
1,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,4.5 out of 5 stars,"₹93,999"
2,"HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...",4.5 out of 5 stars,"₹86,990"
3,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",4.5 out of 5 stars,"₹57,490"
4,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.6 out of 5 stars,"₹86,990"
5,LG Gram 16 inches Intel Evo 11th Gen Core i7 U...,4.4 out of 5 stars,"₹89,611"
6,Dell Alienware x17 R1 (2021) i7-11800H Gaming ...,4.0 out of 5 stars,"₹3,25,428"
7,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,5.0 out of 5 stars,"₹86,990"
8,ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...,4.5 out of 5 stars,"₹92,990"
9,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,4.0 out of 5 stars,"₹93,999"

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data

In [198]:
driver2 = webdriver.Chrome(executable_path=r'C:/Users/Akhil/Desktop/roboflip/Web_Scraping_Selenium_Assg/chromedriver.exe', chrome_options=chrome_options)
time.sleep(3)
#as if we go via 2nd step it is not giving search option so directly going via link
driver2.get("https://www.ambitionbox.com/jobs/search?designation=data-scientist")
time.sleep(3)

In [199]:
enter_tag = driver2.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
enter_tag.click()

In [200]:
driver2.find_element_by_id("location_Noida").click()

In [214]:
companies=[]
days_ago = []
rating = []
company_name_tag = driver2.find_elements_by_xpath('//p[@class="company body-medium"]')
for i in company_name_tag:
    companies.append(i.text)
days_ago_tag = driver2.find_elements_by_xpath('//span[@class="body-small-l"][1]')
for i in days_ago_tag:
    days_ago.append(i.text)
rating_tag = driver2.find_elements_by_xpath('//span[@class="body-small"]')
for i in rating_tag:
    rating.append(i.text)
driver2.close()
Datascientist_noida_data = pd.DataFrame({})
Datascientist_noida_data['Company']=companies
Datascientist_noida_data['Job Posted'] = days_ago
Datascientist_noida_data['Rating']=rating
Datascientist_noida_data

                                   Company Job Posted Rating
0            GENPACT India Private Limited     4d ago    4.0
1                        Tech Mahindra Ltd    18d ago    3.7
2            GENPACT India Private Limited    21d ago    4.0
3                         HCL Technologies    25d ago    3.8
4                                    Zyoin     3d ago    4.1
5        Newgen Software Technologies Ltd.     5d ago    3.5
6                        JK Technosoft Ltd    14d ago    3.6
7        Microsoft India (R and D) Pvt Ltd   2mon ago    4.3
8              Paytm Payments Bank Limited    24d ago    3.7
9  Agreeya Solutions India Private Limited    28d ago    3.3

In [236]:
driver = webdriver.Chrome(executable_path=r'C:/Users/Akhil/Desktop/roboflip/Web_Scraping_Selenium_Assg/chromedriver.exe', chrome_options=chrome_options)
time.sleep(3)
driver.get("https://www.ambitionbox.com/")
time.sleep(3)
job = driver.find_element_by_xpath("//a[@class='link salaries']").click()
time.sleep(2)
driver.find_element_by_xpath("//div[@class='searchbox-wrapper']/span/input").send_keys('Data Scientist')
time.sleep(3)

#Extracting element of data scientist designation
ds = driver.find_element_by_xpath('//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p').click()

In [243]:
#Extracting elements for company name
company = driver.find_elements_by_xpath('//div[@class="name"]')
#creating an empty list individually
name = []
ts = [] 
avg_sal = [] 
min_sal=[]
max_sal=[]
exp=[] 
#Extracting all company names into a list
for i in company[:10]:
    ele1 = i.text.replace('based','').replace('on','').replace('salaries','').replace('\n','').split()[:][0:-1]
    string1 = ' '.join(ele1)
    name.append(string1)
#Extracting elements for total salary record
total_salary_record = driver.find_elements_by_xpath('//div[@class="name"]')
for i in total_salary_record:
    ele2 = i.text.split()[:][-4:]
    string2 = ' '.join(ele2)
    ts.append(string2)
#Extracting elements for average salary
average_salary = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in average_salary:
    avg_sal.append(i.text)
#Extracting elements for minimum salary
minimum_salary = driver.find_elements_by_xpath('//div[@class="salary-values"]')
for i in minimum_salary:
    ele3 = i.text.split()[::][0:2]
    string3 = ' '.join(ele3)
    min_sal.append(string3)
#Extracting elements for maximum salary
maximum_salary = driver.find_elements_by_xpath('//div[@class="salary-values"]')

for i in maximum_salary:
    ele4 = i.text.split()[::][3:]
    string4 = ' '.join(ele4)
    max_sal.append(string4)
#Extracting elements for experience required
experience_required = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')

for i in experience_required:
    ele5 = i.text.replace('Data Scientist\n','').replace('\n','').replace('exp','').split()[::][1:]
    string5 = ' '.join(ele5)
    exp.append(string5)
salary_data = pd.DataFrame({'Company':name,'No of salaries based on':ts,'Average salary':avg_sal,'Minimum salary':min_sal,'Maximum salary':max_sal,'Experience required':exp})
salary_data

,Company,No of salaries based on,Average salary,Minimum salary,Maximum salary,Experience required
0,Walmart,based on 11 salaries,₹ 29.7L,₹ 25.0L,35.0L,3 yrs
1,Ab Inbev,based on 31 salaries,₹ 20.5L,₹ 15.0L,25.5L,3-4 yrs
2,Reliance Jio,based on 10 salaries,₹ 18.9L,₹ 5.6L,26.2L,4 yrs
3,ZS,based on 15 salaries,₹ 15.9L,₹ 9.8L,20.0L,2 yrs
4,Optum,based on 28 salaries,₹ 15.4L,₹ 11.0L,22.4L,3-4 yrs
5,Fractal Analytics,based on 81 salaries,₹ 15.1L,₹ 9.5L,22.0L,2-4 yrs
6,Tiger Analytics,based on 46 salaries,₹ 14.8L,₹ 9.0L,20.0L,2-4 yrs
7,UnitedHealth,based on 53 salaries,₹ 14.0L,₹ 8.3L,20.5L,2-4 yrs
8,Veriz,based on 14 salaries,₹ 12.7L,₹ 10.0L,21.0L,4 yrs
9,Ganit Business Solutis,based on 13 salaries,₹ 12.4L,₹ 8.5L,15.0L,4 yrs